

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
      
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees">Employee</a>
          </li> -->
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees/add">Apply Now</a>
          </li> -->
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees/test">Add Iteam</a>
          </li> -->
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees/mEmp">Add List</a>
          </li> -->
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees/register">Register</a>
          </li> -->
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="register">register</a>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="apply">Apply Now</a>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="empapply">Apply Now</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">Apply Now</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="admin">Employee List</a>
          </li>
         <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="iamge">Upload Image</a>
          </li> -->
          
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees/logindesign">logindesign Now</a>
          </li>  -->
         
        
        <li>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            
            <button (click)="logout()" class="btn btn-primary" type="button">Logout</button>
          </div>
        </li>
        </ul>
      </div>
    </div>
    
  </nav>
 
  
  
  <router-outlet></router-outlet>
 
